html,body {
    /*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
    font-family: "Lato";
    text-shadow: 0px 0px 5px black;
    font-size: 10px;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
}
body {
  overflow: auto;
}
#container {
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

div.label {
    color: #FFF;
    font-size: 1.3rem;
    font-weight: 100;
    height: 15px;
    position: absolute;
    user-select: none;
    -webkit-user-select: none;
    width: 20px;
    z-index: 2;
}

.label h3{
    padding: 3px 0px;
    margin: 0;
}

.label.described{
    cursor: pointer;
    padding: 3px;
}
.label.described.constellation{
    color: #AFC;
}
.label.described.star{
    color: #FCA;
}


.label.described.constellation:hover{
    color: #8FA;
}
.label.described.star:hover{
    color: #FA8;
}


.label.described .description{
    display: none;
}
.label.described.selected{
    background-color: rgba(20,50,60,0.7);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(100,200,200,0.5);
    display: block;
    height: 160px;
    padding: 10px;
    width: 240px;
}

.label.described.selected .description{
    display: block;
}

#coords {
    background: #000;
    color: #FFF;
    font-size: 1.5rem;
    padding: 5px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}
